html, body, :global(#app) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 1rem;

    background-color: grey;
}

.component {
    width: 100%;
    height: 100%;


    &.selector {
        padding: 0.1rem;
    }

    .loading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        color: white;
    }

    .data {
        display: flex;
        flex-direction: row;

        width: 100%;
        margin-top: 0.2rem;

        border: solid 1px black;
        background-color: white;

        .details {
            display: block;
            flex: 1;

            padding: 1rem;

            border: solid 1px black;

            .title {
                font-weight: bold;

                padding-bottom: 0.2rem;
            }

            .state {
                padding: 0.2rem 0;

                &:global(.open) {
                    color: white;
                    background-color: green;
                }
            }
        }

        .schedule {
            display: flex;
            flex-direction: column;
            flex: 1;

            padding: 1rem;

            border: solid 1px black;

            .title {
                font-weight: bold;
            }

            .entry {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                padding: 0.2rem;

                text-transform: capitalize;

                &:nth-child(even) {
                    background-color: whitesmoke;
                }

                &:nth-child(odd) {
                    background-color: lightgrey;
                }
            }
        }
    }
}
